In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nouadhibou,MR,2022-06-21 02:05:53,20.9310,-17.0347,71.58,100,100,3.44
1,1,Namatanai,PG,2022-06-21 02:05:53,-3.6667,152.4333,85.32,66,19,5.23
2,2,Kolyubakino,RU,2022-06-21 02:05:54,55.6680,36.5323,55.58,86,100,1.25
3,3,Vega De Alatorre,MX,2022-06-21 02:05:54,20.0333,-96.6333,78.28,83,53,5.84
4,4,Segou,ML,2022-06-21 02:05:55,13.4317,-6.2157,81.32,64,64,9.22

In [15]:
# get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [16]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Namatanai,PG,2022-06-21 02:05:53,-3.6667,152.4333,85.32,66,19,5.23
3,3,Vega De Alatorre,MX,2022-06-21 02:05:54,20.0333,-96.6333,78.28,83,53,5.84
4,4,Segou,ML,2022-06-21 02:05:55,13.4317,-6.2157,81.32,64,64,9.22
14,14,Yazman,PK,2022-06-21 02:05:58,29.1212,71.7446,80.96,57,2,11.83
24,24,Marsh Harbour,BS,2022-06-21 02:05:32,26.5412,-77.0636,80.44,73,9,15.41
27,27,Kapaa,US,2022-06-21 02:06:03,22.0752,-159.3190,82.38,83,40,12.66
32,32,Atuona,PF,2022-06-21 02:06:05,-9.8000,-139.0333,78.08,78,23,22.32
37,37,Oistins,BB,2022-06-21 02:06:07,13.0667,-59.5333,78.89,89,40,19.57
39,39,Touros,BR,2022-06-21 02:06:08,-5.1989,-35.4608,75.54,87,15,12.10
45,45,Jieshi,CN,2022-06-21 02:07:11,22.8134,115.8257,82.20,84,100,10.38

In [24]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
1          Namatanai      PG     85.32  -3.6667  152.4333
3   Vega De Alatorre      MX     78.28  20.0333  -96.6333
4              Segou      ML     81.32  13.4317   -6.2157
14            Yazman      PK     80.96  29.1212   71.7446
24     Marsh Harbour      BS     80.44  26.5412  -77.0636
27             Kapaa      US     82.38  22.0752 -159.3190
32            Atuona      PF     78.08  -9.8000 -139.0333
37           Oistins      BB     78.89  13.0667  -59.5333
39            Touros      BR     75.54  -5.1989  -35.4608
45            Jieshi      CN     82.20  22.8134  115.8257

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Namatanai,PG,85.32,-3.6667,152.4333,Seagulls Inn Namatani
3,Vega De Alatorre,MX,78.28,20.0333,-96.6333,Hotel D Luxe
4,Segou,ML,81.32,13.4317,-6.2157,Comme chez soi
14,Yazman,PK,80.96,29.1212,71.7446,Jamal sons showroom
24,Marsh Harbour,BS,80.44,26.5412,-77.0636,Abaco Beach Resort
27,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
32,Atuona,PF,78.08,-9.8000,-139.0333,Villa Enata
37,Oistins,BB,78.89,13.0667,-59.5333,Butterfly Beach Hotel
39,Touros,BR,75.54,-5.1989,-35.4608,INN NEW HORIZON
45,Jieshi,CN,82.20,22.8134,115.8257,Yuehai Hotel

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))