## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
pwd

'/Users/giovannacolareta/Desktop/ClassFolder/World_Weather_Analysis/Vacation_Search'

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/giovannacolareta/Desktop/ClassFolder/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tarpon Springs,US,28.1461,-82.7568,79.20,90,0,4.61,clear sky
1,1,Albanel,CA,48.8832,-72.4487,68.14,72,99,11.50,overcast clouds
2,2,Hovd,MN,48.0056,91.6419,88.03,18,12,7.54,few clouds
3,3,Castro,BR,-24.7911,-50.0119,52.68,87,42,7.43,scattered clouds
4,4,Yulara,AU,-25.2406,130.9889,55.60,47,83,11.99,broken clouds

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tarpon Springs,US,28.1461,-82.7568,79.20,90,0,4.61,clear sky
2,2,Hovd,MN,48.0056,91.6419,88.03,18,12,7.54,few clouds
6,6,Faanui,PF,-16.4833,-151.7500,80.01,69,2,18.81,clear sky
7,7,Atuona,PF,-9.8000,-139.0333,77.38,70,8,22.35,clear sky
9,9,Cockburn Town,TC,21.4612,-71.1419,82.36,74,40,11.50,scattered clouds
12,12,Srikakulam,IN,18.3000,83.9000,87.22,64,83,14.97,broken clouds
28,28,Port Blair,IN,11.6667,92.7500,84.24,74,75,4.61,broken clouds
29,29,Villa Altagracia,DO,18.6730,-70.1710,78.12,77,17,0.85,few clouds
31,31,Naze,JP,28.3667,129.4833,79.72,89,39,10.74,scattered clouds
34,34,Hithadhoo,MV,-0.6000,73.0833,83.14,72,81,6.69,moderate rain

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                246
City                   246
Country                244
Lat                    246
Lng                    246
Max Temp               246
Humidity               246
Cloudiness             246
Wind Speed             246
Current Description    246
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# NO EMPTY ROWS FOUND

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tarpon Springs,US,79.20,clear sky,28.1461,-82.7568,
2,Hovd,MN,88.03,few clouds,48.0056,91.6419,
6,Faanui,PF,80.01,clear sky,-16.4833,-151.7500,
7,Atuona,PF,77.38,clear sky,-9.8000,-139.0333,
9,Cockburn Town,TC,82.36,scattered clouds,21.4612,-71.1419,
12,Srikakulam,IN,87.22,broken clouds,18.3000,83.9000,
28,Port Blair,IN,84.24,broken clouds,11.6667,92.7500,
29,Villa Altagracia,DO,78.12,few clouds,18.6730,-70.1710,
31,Naze,JP,79.72,scattered clouds,28.3667,129.4833,
34,Hithadhoo,MV,83.14,moderate rain,-0.6000,73.0833,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
   
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()
clean_hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tarpon Springs,US,79.20,clear sky,28.1461,-82.7568,"Innisbrook, A Salamander Golf and Spa Resort"
2,Hovd,MN,88.03,few clouds,48.0056,91.6419,Hotel Khovd
6,Faanui,PF,80.01,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Atuona,PF,77.38,clear sky,-9.8000,-139.0333,Villa Enata
9,Cockburn Town,TC,82.36,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
12,Srikakulam,IN,87.22,broken clouds,18.3000,83.9000,Micro Systems
28,Port Blair,IN,84.24,broken clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
29,Villa Altagracia,DO,78.12,few clouds,18.6730,-70.1710,La Maison de AAVA
31,Naze,JP,79.72,scattered clouds,28.3667,129.4833,Shishime Hotel
34,Hithadhoo,MV,83.14,moderate rain,-0.6000,73.0833,Scoop Guest House
42,Bafra,TR,76.82,overcast clouds,41.5678,35.9069,Sevgi Otel
43,Huilong,CN,79.43,overcast clouds,31.8111,121.6550,Hilton Garden Inn Qidong
49,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
58,Isangel,VU,75.38,few clouds,-19.5500,169.2667,Tanna Lodge
59,Ontario,US,86.38,clear sky,34.0633,-117.6509,Capri Motel
61,Huaidian,CN,75.54,light rain,33.4333,115.0333,Xihuan Hotel
65,Souillac,MU,75.58,few clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
68,Erdemli,TR,82.87,clear sky,36.6050,34.3084,Sun Rice Otel
69,Butaritari,KI,82.26,light rain,3.0707,172.7902,Isles Sunset Lodge
76,Biak,ID,76.95,overcast clouds,-0.9131,122.8766,Penginapan Kim

In [22]:
clean_hotel_df.count()

City                   244
Country                244
Max Temp               244
Current Description    244
Lat                    244
Lng                    244
Hotel Name             244
dtype: int64

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))